[submodule "utils/uf2"]
	path = utils/uf2
	url = https://github.com/microsoft/uf2.git
[submodule "lib/MIDI_Library"]
	path = lib/MIDI_Library
	url = https://github.com/FortySevenEffects/arduino_midi_library.git
